# Django Settings
SECRET_KEY=django-insecure-c^1%va7g4+yqfygvbjku#d4-4d8-sw8rzw9!$_wq-vt(*x-mw9
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Telegram Bot Tokens
TELEGRAM_BOT_TOKEN=8202994859:AAGg68pT5HGR1W9D4pxqnAGeKoZKrD9Dnzs
ADMIN_BOT_TOKEN=8450508816:AAFE6XAj8QvA9iIP12whrKxYRtgsoHFCiFU

# Admin Password
ADMIN_PASSWORD=admin123

# X-UI Server Settings (اختیاری)
XUI_SERVER_HOST=your-server-ip.com
XUI_SERVER_PORT=54321
XUI_USERNAME=admin
XUI_PASSWORD=your-password

# Database (optional - for production)
# DATABASE_URL=postgresql://user:password@localhost:5432/dbname 